@page
@model ChallengeCollector.Pages.DetailsModel

@{
    ViewData["Title"] = "Details Page";
}

<div>
    <h4>Solution <span style="color: green">@Model.ChallengeResponse.UniqueHandle</span></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengeResponse.ResultFileSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengeResponse.ResultFileSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengeResponse.ResultFile)
        </dt>
        <dd class="col-sm-10" style="font-family: Consolas, 'Courier New'; font-size: 9pt">
            @Html.TextAreaFor(model => model.ResultFileText, 20, 120, null)
        </dd>
        @if (Model.ChallengeResponse.TestFile?.Length > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ChallengeResponse.TestFileSize)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ChallengeResponse.TestFileSize)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ChallengeResponse.TestFile)
            </dt>
            <dd class="col-sm-10" style="font-family: Consolas, 'Courier New'; font-size: 9pt">
                @Html.TextAreaFor(model => model.TestFileText, 20, 120, null)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengeResponse.CreatedAtUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengeResponse.CreatedAtUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengeResponse.Passphrase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengeResponse.Passphrase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChallengeResponse.UniqueHandle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChallengeResponse.UniqueHandle)
        </dd>
    </dl>
</div>
