@page
@model ChallengeCollector.Pages.SuperSecretListPageModel

@{
    ViewData["Title"] = "SuperSecretListPage";
}

<h1>SuperSecretListPage</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChallengeResponse[0].ResultFileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChallengeResponse[0].TestFileSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChallengeResponse[0].CreatedAtUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChallengeResponse[0].Passphrase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChallengeResponse[0].UniqueHandle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChallengeResponse) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResultFileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestFileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passphrase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueHandle)
            </td>
            <td>
                <a asp-page="./SuperSecretDetailsPage" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
